page-my-shop-list {
    .action-sheet-cancel ion-icon {
        color: #757575;
    }
    .action-sheet-destructive ion-icon {
        color: #ED4248;
    }
    .ion-md-create ion-icon {
        color: dodgerblue;
    }
}